* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}


/* Header/Blog Title */

#clockdiv {
    font-family: 'Great Vibes', cursive;
    position: absolute;
    width: 100%;
    padding-top: 20%;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
}

#clockdiv label {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.banner {
    position: relative;
    width: 100%;
    height: 700px;
    left: 0;
}

.banner img {
    width: 100%;
    height: 700px;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}


/* Fake image */

.fakeimg {
    width: 100%;
    padding: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.card h2 {
    color: #f23b43;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 23px;
}

.card h5 {
    color: #4e4d4d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 23px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

button {
    width: 150px;
    font-size: 15px;
    padding: 15px;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #F44336;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

input {
    width: 360px;
    height: 35px;
    margin-bottom: 20px;
}

.mostly-customized-scrollbar {
    display: block;
    width: 100%;
    overflow: auto;
    height: 350px;
    padding: 10px 0 0 15px;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}